* {
    box-sizing: border-box;
}

.container {
    position: relative;
    display: inline-block;
}

.wrapper {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.player-health {
    background-color: yellow;
    height: 30px;
    width: 100%;
}

.timer {
    background-color: red;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

.enemy-health {
    background-color: yellow;
    height: 30px;
    width: 100%;
}